In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('data\wiki-topcats-reduced.txt', sep="	", header=None)
data.columns = ["from", "to"]
data.head()

   from       to
0    52   401135
1    52  1069112
2    52  1163551
3    62    12162
4    62   167659

In [15]:
list1 = data["from"].values

In [16]:
list2 = data["to"].values

In [31]:
set1=set(list1)
set2=set(list2)
fin_set = set1.union(set2)

In [33]:
#number of nodes
len(fin_set)

461193

In [35]:
#number of edges
len(data)

2645247

In [43]:
G = nx.DiGraph()

In [44]:
G.add_nodes_from(fin_set)

In [45]:
for i in range(len(data)):
    G.add_edge(data.iloc[i]['from'], data.iloc[i]['to'])

In [46]:
G.number_of_nodes()

461193

In [47]:
G.number_of_edges()

2645247

In [48]:
#attributes of nodes
G.add_node(1, category=['C1'])
G.node[1]['category'].append('C2')